.space-label {
    padding-bottom: 25px;
}

.width-label {
    width: 20rem !important;
}

.p-password-input {
    width: 20rem !important;
}

.card-personalised {
    background: #adadad1f;
    color: #6366f1;
    box-shadow: 0 2px 1px -1px rgba(253, 250, 250, 0.2), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
    width: min-content;
    text-align: center;
    margin:auto;
    margin-top: 2%;
}

.card-personalised-register {
    background: #adadad1f;
    color: #6366f1;
    box-shadow: 0 2px 1px -1px rgba(253, 250, 250, 0.2), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
    width: 350px;
    text-align: center;
    margin:auto;
    margin-top: 2%;
}

.green-button {
    background: hsl(106, 88%, 60%);
}

.image-wrapper{
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    background-size: cover;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.small-image-wrapper{
    width: 15rem;
    height: 10rem;
    overflow: hidden;
    background-size: cover;
    margin-top: 0rem;
    margin-bottom: 4rem;
    margin-left:1rem;
    border-radius: 6px;
}


.restaurant-card{
    margin-top: 0rem;
    margin-left: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    transform: translateY(-62rem);
    width: 32em;
    background-color: #f8f9fa;
    height: 47em;
}

.card-add {
    background: #adadad1f;
    box-shadow: 0 2px 1px -1px rgba(253, 250, 250, 0.2), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
    width: min-content;
    text-align: center;
    margin:auto;
    margin-top: 2%;
}

.warning {
    background: #f1af4bcb;
    box-shadow: 0 2px 1px -1px rgba(253, 250, 250, 0.2), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
    width: 40rem;
    text-align: center;
    margin-top: 0%;
}


.add-header {
    float: left; 
    clear: both;
}

.photo {
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 32rem;
    margin-top: 4rem;
}


.p-divider{
    border-bottom: 1px solid #c7cdd1;
}

.reservation-card{
    margin-top: 2rem;
    margin-right: 3rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    width: 40%;
    text-align: center;
}
.reviews-card{
    margin-top: 1rem;
    margin-left: 37rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 30rem;
    text-align: center;
}

.add-reviews-card{
    margin-top: 0.5rem;
    margin-left: 69rem !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 30rem;
    text-align: center;
}

.text-header{
    font-size: 1.5rem !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5rem;
    margin-top: -4rem;
}

.mt{
    margin-top: 0.5rem !important;
    width: auto !important;
}

.mt1{
    margin-top: 1.5rem !important;
    width: auto !important;
}

.mb{
    margin-bottom: 0.5rem;
}

.ml{
    margin-left: 0.5rem;
}

.ml2{
    margin-left: 1rem;
}

.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.rat{
    margin-left: auto;
    margin-right: 6rem;
}

.slider{
    margin-top: 10px;
    width: 14rem;
}

.space-label{
    text-align: left;
    display: inline-block;
}

.field-checkbox {
    margin-top: 0.5rem !important;
    display: block !important;
}

:root {
   --maskbg: rgb(0 0 0 / 9%);
}